.head{
    background: #000;
}

.menu-left{
    margin-bottom: 0%;
    background: rgb(223, 9, 212);
}

.footer{
    margin-bottom: 0%;
    background: rgb(214, 14, 14);
}

.content{
    width:"100%"; 
    height:"100%";
    margin-bottom: 0%;
    background: rgb(27, 223, 9);
}
